## Last Updated

In [2]:
import pandas as pd
last_updated = pd.to_datetime("4/8/20")
str(last_updated)

'2020-04-08 00:00:00'

## Project Assignments
Project assignments are due weekly on Monday.

## All other Assignments

In [3]:
deadlines = pd.DataFrame([
    ["Syllabus Assignment","4/10/20 23:59"],
    ["Lab 1","4/13/20 23:59"],
    ["Lab 2","4/20/20 23:59"],
    ["Lab 3","4/27/20 23:59"]
],columns=["Name","Date"])
deadlines["Date"] = pd.to_datetime(deadlines['Date'])

### Ascending Order

In [4]:
deadlines.sort_values(by="Date")

                  Name                Date
0  Syllabus Assignment 2020-04-10 23:59:00
1                Lab 1 2020-04-13 23:59:00
2                Lab 2 2020-04-20 23:59:00
3                Lab 3 2020-04-27 23:59:00

### Descending Order

In [5]:
deadlines.sort_values(by="Date",ascending=False)

                  Name                Date
3                Lab 3 2020-04-27 23:59:00
2                Lab 2 2020-04-20 23:59:00
1                Lab 1 2020-04-13 23:59:00
0  Syllabus Assignment 2020-04-10 23:59:00